<%= stylesheet_link_tag 'signup', :media => 'all' %>

<div class="signin-page">
  <div class="form">
  <div class="form-h1">
    <h1>新規登録</h1>
  </div> 
  <%= form_for(resource, as: resource_name, id: 'signinForm', class: 'signin-form',  url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <%= f.file_field :icon, accept: 'image/*',id: 'test', required: true %>
      
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, id: 'email',autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, id: 'username', autocomplete: "username", autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, id: 'password', autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, id: 'password_confirmation', autocomplete: "new-password" %>
      </div>

      <%= f.submit "新規登録", class: "form-submit" %>
      <p class="message">アカウントを既に登録済みの方<%= render "devise/shared/links" %></p>


    <% end %>

  </div>
</div>