<%= stylesheet_link_tag 'map', :media => 'all' %>
<%= stylesheet_link_tag 'postForm', :media => 'all' %>

<% content_for :js do %>
  <%= javascript_import_module_tag "map" %>
<% end %>

<div id="map" style="height: 100vh; width: 100%;"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgixBC-unxRTH-NrxJ3eF14qzKMIPGp2c&callback=initMap&v=weekly"></script>
<script>
var add_post_icon = "<%= asset_path('addPostIcon.png') %>";
var imagesData = <%= (@images || []).map { |image| 
{ 
  url: rails_blob_path(image.post_image, only_path: true),
  latitude: image.latitude,
  longitude: image.longitude
}
}.to_json.html_safe %>;

</script>

<div id="popupForm" class="popup-overlay">
  <div class="popup-content">
    <button type="button" id="closePopup" class="close-btn">&#10005;</button> <!-- Cross Mark -->
    <%= form_with(model: @image, url: images_path, local: true, html: { id: "imageForm", method: "post" }) do |form| %>
      <div class="image-upload">
      <%= form.file_field :post_image, accept: 'image/*',id: 'post_image', required: true %>
      <label for="post_image" class="image-upload-prompt">
        <div class="upload-icon">&#128247;</div> <!-- Camera Icon -->
        <div>画像をアップロード</div>
        <button type="button" id="cancel-upload">画像取り消し</button>
      </label>
      </div>
      <div class="field comment-section">
        <div class="user-icon-and-label">
          <div class="user-icon">&#128100;</div> 
          <%= form.label :comment, 'コメント' %> <br />
        </div>
        <div class="comment-input">
          <%= form.text_field :comment %>
        </div>
      </div>
      <% if user_signed_in? %>
        <%= form.hidden_field :user_id, value: current_user.id %>
      <% else %>
        <%= form.hidden_field :user_id, value: 0 %>
      <% end %>
      <%= form.hidden_field :latitude, value: 0, id: 'latitude-field' %>
      <%= form.hidden_field :longitude, value: 0, id: 'longitude-field' %>
      <%= form.submit "投稿", id: "submitForm", class: "submit-btn" %>
    <% end %>
  </div>
</div>
