<% content_for :js do %>
  <%= javascript_import_module_tag "map" %>
<% end %>

<h3>Maps with image Demo</h3>
<div id="map" style="height: 100vh; width: 100%;"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgixBC-unxRTH-NrxJ3eF14qzKMIPGp2c&callback=initMap&v=weekly"
      defer></script>


<button id="add-image-button" class="user-form">画像追加</button>

<div id="popupForm" class="popup-overlay">
  <div class="popup-content">
    <button type="button" id="closePopup" class="close-btn">&#10005;</button> <!-- Cross Mark -->
    <h2>ユーザー追加</h2>
    <%= form_with(model: @image, url: images_path, local: true) do |form| %>
      <div class="field">
        <%= form.label :post_image %>
        <%= form.file_field :post_image %>
      </div>
      <%= form.submit %>
    <% end %>
  </div>
</div>