<%= stylesheet_link_tag 'map', :media => 'all' %>

<% content_for :js do %>
  <%= javascript_import_module_tag "map" %>
<% end %>

<h3><%= current_user.name %></h3>
<div id="map" style="height: 100vh; width: 100%;"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgixBC-unxRTH-NrxJ3eF14qzKMIPGp2c&callback=initMap&v=weekly"></script>
<script>
var add_post_icon = "<%= asset_path('addPostIcon.png') %>";
</script>

<div id="popupForm" class="popup-overlay">
  <div class="popup-content">
    <button type="button" id="closePopup" class="close-btn">&#10005;</button> <!-- Cross Mark -->
    <h2>ポスト</h2>
    <%= form_with(model: @image, url: images_path, local: true) do |form| %>
      <div class="field">
      <%= form.label :投稿画像 %> <br />
      <%= form.file_field :post_image %>
    </div>
  
    <div class="field">
      <%= form.label :コメント %> <br />
      <%= form.text_field :comment %>
    </div>
  
    <div class="field">
      <%= form.hidden_field :user_id, value: (@user_signed_in ? @current_user.id : 0) %>
    </div>
      <%= form.submit value: "投稿"%>
    <% end %>
  </div>
</div>