<%= stylesheet_link_tag 'map', :media => 'all' %>
<%= stylesheet_link_tag 'postForm', :media => 'all' %>
<%= stylesheet_link_tag 'post_image', :media => 'all' %>
<%= stylesheet_link_tag 'postShow', :media => 'all' %>
<%= stylesheet_link_tag 'menuButton', :media => 'all' %>
<%= stylesheet_link_tag 'sidebar', :media => 'all' %>

<% content_for :js do %>
  <%= javascript_import_module_tag "map" %>
  <% if user_signed_in? %>
  <%= javascript_import_module_tag "sidebar" %>
  <%= javascript_import_module_tag "post" %>
  <% end %>
  <%= javascript_import_module_tag  "userSearch" %>
<% end %>



<script>
var add_post_icon = "<%= asset_path('addPostIcon.png') %>";
var postGreenButton = "<%= asset_path('postGreenButton.png') %>"
var user_signed_in = <%= user_signed_in? %>;
var login_user_name = "<%= @user_name %>";
var login_user_icon = "<%= user_icon_url(@user) %>";
var post_triger_icon = "<%= asset_path('forPostTriger.png') %>";
var goodButton = "<%= asset_path('goodButton.png') %>";
var goodCancelButton = "<%= asset_path('goodCancelButton.png') %>";
var notificationButtonIcon = "<%= asset_path('NoticeIcon.png') %>"

var imagesData = <%= (@images || []).each_with_index.map { |image, index|
  user = User.find(image.user_id)
  icon_url = user_icon_url(user)
  genre_names = image.respond_to?(:genres) ? image.genres.pluck(:name) : []
  { 
    id: image.id, 
    url: icon_url,
    image_url: rails_blob_path(image.post_image, only_path: true),
    latitude: image.latitude,
    longitude: image.longitude,
    user_id: image.user_id,
    user_name: user.name,
    image_id: image.id,
    created_at: image.created_at.strftime('%H:%M'),
    current_user: @user_id,
    like_users: image.like_users,
    comment: image.comment,
    genres: genre_names,
  }
}.to_json.html_safe %>; 

document.addEventListener('DOMContentLoaded', function() {
  // ログインユーザーのID
  var loginUserId = "<%= @user_id %>";

  // imagesDataからログインユーザーの画像のみをフィルタリング
  var myImages = imagesData.filter(function(image) {
    return image.user_id.toString() === loginUserId;
  });

  // フィルタリングした画像をHTMLに追加
  var container = document.querySelector('.myImagesContainer');
  myImages.forEach(function(image) {
    // img要素を作成
    var imgElement = document.createElement('img');
    imgElement.src = image.image_url; // 画像のURL
    imgElement.alt = 'User Image'; // 代替テキスト
    imgElement.className = 'myImageStyle'; // CSSクラスを適用

    // 画像要素をコンテナに追加
    container.appendChild(imgElement);
  });
});

</script>

<% if user_signed_in? %>
<div id="popupForm" class="popup-overlay">
  <div class="popup-content">
    <button type="button" id="close-btn" class="close-btn">&#10005;</button> <!-- Cross Mark -->
    <%= form_with(model: @image, url: images_path, local: true, html: { id: "imageForm", method: "post" }) do |form| %>
      <div class="image-upload">
      <%= form.file_field :post_image, accept: 'image/*',id: 'post_image', required: true %>
      <label for="post_image" class="image-upload-prompt">
        <div class="upload-icon">&#128247;</div> <!-- Camera Icon -->
        <div>画像をアップロード</div>
        <button type="button" id="cancel-upload">画像取り消し</button>
      </label>
      </div>
      <div class="field comment-section">
        <div class="user-icon-and-label">
          <div class="user-icon">
            <%= image_tag(user_icon_url(@user), class: 'post-user-icon' )%>
          </div>
        </div>

        <%= form.label :range, '公開範囲' %>
        <div class="range-input">
          <label><%= form.radio_button :visibility_id, :"1" %><span>全て</span></label>
          <label><%= form.radio_button :visibility_id, :"2" ,{:checked => "checked"} %><span>フォロワー</span></label>
          <label><%= form.radio_button :visibility_id, :"3" %><span>友人</span></label>
        </div>

        <%= form.label :tag, '投稿タグ' %>
        <div class="tag-input">
          <%= form.text_field :tag %>
        </div>

        <%= form.label :comment, 'コメント' %>
        <div class="comment-input">
          <%= form.text_field :comment %>
        </div>
      </div>
      <% if user_signed_in? %>
        <%= form.hidden_field :user_id, value: current_user.id %>
      <% else %>
        <%= form.hidden_field :user_id, value: 0 %>
      <% end %>
      <%= form.hidden_field :latitude, value: 0, id: 'latitude-field' %>
      <%= form.hidden_field :longitude, value: 0, id: 'longitude-field' %>
      <%= form.submit "投稿", id: "submitForm", class: "submit-btn"%>
    <% end %>
  </div>
</div>
<% else %>
<div id="popupForm" class="popup-overlay">
  <div class="popup-content">
  <button type="button" id="close-btn" class="close-btn">&#10005;</button> <!-- Cross Mark -->

  <h1>ログインしてください</h1>
  </div>
</div>
<% end %>


<div id="popup-view-background" class="popup-view-background">
<turbo-frame id="imageShow">
<div id="popup-view-content" class="popup-view-content">
<img id="popup-view-image" class="popup-view-image" src="" alt="Popup Image">
</div>
<div class="popup-view-review-content">
<div class="popup-view-like" id="popup-view-like">
</div>
<div class="popup-view-comment">
<p id="popup-view-comment-p"></p>
</div>
</div>
</turbo-frame>
</div>



<div id="map-container">

  <div id="map" style="height: 100vh; width: 100%;"></div>
  <div id="place-search">
    <input
      id="pac-input"
      class="controls"
      type="text"
      placeholder="Search Box"
    >
  </div>
  <div class="genre_input">
    <input type="text" onChange="hideAndShowPostByGenre(this.value)" placeholder="投稿タグ">
  </div>
  <div id="panToMyPlace">
    <img src="<%= asset_path('panToMyPalace.png') %>" >
    <p>現在位置に戻る</p>
  </div>


  <div id="sidebar">
    <div class="current-post-wrapper">
      <div id="current-post-container">
      <% login_user_images = @images.select { |image| image.user_id == @user_id } %>
      <div class="post_wrapper">
        <div class="postIcon" data-image-coords="<%= login_user_images.map { |img| [img.latitude, img.longitude] }.to_json %>">
          <% if login_user_images.count !=0 %> <div class="post_count"><%= login_user_images.count %></div><% end %>
          <%= image_tag(user_icon_url(@user), class: 'post') %>
        </div>
      
        <p class="post_username"><%= @user.name %></p>
      
        <div class="postGreenButton" id="postGreenButton">
          <%= image_tag(asset_path('postGreenButton.png'), class: 'postGreeniImage') %>
        </div>
      
      </div>
      <div class="sline"></div>
        
      <% if @images.present? %>
        <% grouped_images = @images.reject { |image| image.user_id == @user_id }.group_by(&:user_id) %>
      
        <% grouped_images.each do |user_id, images| %>
          <div class="post_wrapper">
            <div class="postIcon" data-image-coords="<%= images.map { |img| [img.latitude, img.longitude] }.to_json %>">
              <div class="post_count"><%= images.count %></div>
              <%= image_tag user_icon_url(find_user_by_id(images.first.user_id)), class: 'post' %>
            </div>
      
            <p class="post_username"><%= find_user_by_id(images.first.user_id).name %></p>
          </div>
        <% end %>
      <% end %>

      </div>
    </div>
  </div>

  <% if current_user %>
  <div id="RightSideMenuList">
    <div class="myProfile menuButton" id="myProfileSideBarOpenButton">
      <img src="<%= asset_path('myProfileIcon.png') %>"class="menuButtonIcon menuIcon">
    </div>
    <div class="user-search menuButton" id="userSearchSideBarOpenButton">
      <img src="<%= asset_path('search.png') %>"class="menuButtonIcon menuIcon">
    </div>
    <div class="notion menuButton" id="notificationSideBarOpenButton">
    <% if current_user.notifications.where(checked: false).exists? %>
      <%= link_to image_tag(asset_path('NoticeIconRed.png')), notifications_path(), data: { "turbo-method": :get }, id: "notificationButton", class: "notificationButtonIcon menuIcon" , onclick: "notificationChecked()"%>
    <% else %>
      <%= link_to image_tag(asset_path('NoticeIcon.png')), notifications_path(), data: { "turbo-method": :get },id: "notificationButton", class: "notificationButtonIcon menuIcon", onclick: "notificationChecked()"%>
    <% end %>
    </div>
  </div>

  <div class="myProfileSideBar  sidebar" id="myProfileSideBar" >
  <button class="closeSideBar" id="closeMyProfileSidebar">×</button>
    <div class="profile-wapper">
        <div class="profile-top-wrapper">
          <div class="profileIcon sweezy-custom-cursor-hover"><img src="<%= asset_path('userIcon.png') %>" class="profileIcon-img sweezy-custom-cursor-hover"></div>
          <div class="profile-edit"><%= link_to "Edit profile", edit_user_registration_path, class:"btn btn--orange" %></div>
          <div class="profile-name"><%= @user.name %></div>
        </div>
      <div class="follow-wrapper">
        <div class="follow-count">
          following<br>
          <%= render partial: "relationships/followed-info", locals: { user: @user } %>
        </div>
        <div class="follow-count">
          folowed<br>
          <%= render partial: "relationships/following-info", locals: { user: @user } %>
        </div>
      </div>
      <%= render partial: "relationships/follow-info", locals: { user: @user } %>
      <%= render partial: "users/introduction", locals: { user: @user } %>
    </div>

    <div class="ex-post-container myImagesContainer"></div>

  </div>




  <div class="search-sidebar sidebar" id="userSearchSideBar">
    <button class="closeSideBar" id="closeUserSearchSidebar">×</button>
    <h4>ユーザー検索</h4>


    <%= search_form_for @search, url: users_search_path, html: { data: { turbo_frame: "user-search-turbo"}} do |f| %>

      <%= f.search_field :name_cont , placeholder: "ユーザー名"%>
    
      <button type="submit">
        <img src="<%= asset_path('search.png') %>" alt="検索">
      </button>
    <% end %>
    
    <div id="user-search-border"></div>
    
    <turbo-frame id="user-search-turbo">
    </turbo-frame>

  </div>



  <div class="notification-sidebar sidebar" id="notificationSideBar">
  <h4>通知</h4>
  <button class="closeSideBar" id="closeNotificationSidebar">×</button>
  
  <turbo-frame id="notification-turbo">
  </turbo-frame>

  <% end %>

</div>